$wrapper-max-width: 1200px;
$default-font-weight: 600;
$default-font-size: 1.2em;

// colors
$default-color: #333;
$attention-color: crimson;
$status-bar_color: crimson;
$primary-color: aquamarine;
$grey: #F0F0F0;
$grey2: #ddd;